:root {
  --white: hsl(0, 0%, 100%);

  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  font-family: "Outfit", sans-serif;
  font-size-body: 15px;
  font-weight-bold: 600;
  font-weight-normal: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-size: var(--slate-300);
  font-family: var(--font-family);
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
  max-width: 390px;

  text-align: center;
  padding: 45px;
}

.card img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.scan-content h1 {
  color: var(--slate-900);
  font-size: 28px;
  margin: 25px 0 18px;
  font-weight: var(--font-weight-bold);
}

.scan-content p {
  color: var(--slate-500);
  font-size: 15px;
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}